@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Archivo+Black');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  background-color: #1A1A20;
  scroll-behavior: smooth;
  color: white;
}

.title{
  font-family: 'Archivo Black', sans-serif;
  font-weight: bold;
}

.power-up{
  background-image:linear-gradient(to right, #FFF200 0%, #1b84cd 33%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 300% 100%;
  background-position: top left;
  transition:all 0.25s ease-in-out;
  cursor: pointer;
  display: inline-block;
}

.power-up:hover{
  background-position: top left 25%;
  animation: tilt 0.5s ease-in-out infinite;
}

/* make a animation tilt 3 deg the text from left to right to original also scale it*/
@keyframes tilt {
  0% {
    transform: rotate(0deg);
    scale: 1;
  }
  25% {
    transform: rotate(-3deg);
    scale: 1.1;
  }
  50% {
    transform: rotate(0deg);
    scale: 1;
  }
  75% {
    transform: rotate(3deg);
    scale: 1.1;
  }
  100% {
    transform: rotate(0deg);
    scale: 1;
  }
}

.project-item-inner{
  box-shadow: inset 0px -45px 20px 6px rgb(0 0 0 / 70%);
  height: 100%;
  display: flex;
  flex-direction: column;
}

.project-image{
  margin: auto;
  transition: all 0.25s ease-in-out;
}

.project-name-date{
  width: 100%;
}

.project-item{
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

.project-item:hover .project-image{
  transform: scale(1.1);
}

.project-item:hover{
  transform: scale(1.1);
}

.rich-text{
  background-image:linear-gradient(to right, #FFF200 0%, #1b84cd 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition:all 0.25s ease-in-out;
  cursor: pointer;
  display: inline-block;
}

.rich-text:hover{
  transform: rotate(-3deg);
}

.fixed-nav{
  position: fixed;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
}

/* keep rotating circle */
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.bottom-circle-container .circle{
  animation: rotate 0s linear infinite;
}

.chevron-up{
  width:32px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* media query for screens smaller than 900px */
@media (max-width: 900px) {
  .main-content{
    max-width: 600px;
  }

  .available{
    top: 60%;
  }

  .world{
    display: none;
  }

  .footer-lower-content{
    flex-direction: column;
  }

  .bottom-circle-container{
    right: 32px;
  }

  .header-container{
    margin-top: 32px;
  }

  #about, #stack, #crafts, .footer-container{
    margin-top: 64px;
  }

  .footer-upper h3{
    font-size: 36px;
  }

  .footer-lower-content{
    align-items: center;
    gap: 32px;
  }

  .footer-lower-left{
    align-items: center;
  }
}

/* media query for screens smaller than 600px */
@media (max-width: 600px) {
  .main-content{
    max-width: 300px;
  }

  .header-inner{
    gap: 1rem;
  }
  
  .header-inner a{
    font-size: 16px;
  }

  .title{
    font-size: 32px;
  }

  .about-text p{
    font-size: 18px;
  }

  #stack p, #crafts p{
    font-size: 18px;
  }

  .stack-icons{
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-row-gap: 16px;
  }

  .projects-content{
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .bottom-circle-container{
    right: 16px;
  }

  .footer-upper h3{
    font-size: 24px;
  }
}