@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Archivo+Black');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  background-color: #1A1A20;
  scroll-behavior: smooth;
  color: white;
  overflow-x: hidden;
}

.title{
  font-family: 'Archivo Black', sans-serif;
  font-weight: bold;
}

.title-line{
  width: 100%;
  height: 1px;
  background-color: white;
  opacity: .3;
}

.power-up{
  background-image:linear-gradient(to right, #FFF200 0%, #1b84cd 33%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 300% 100%;
  background-position: top left;
  transition:all 0.25s ease-in-out;
  cursor: pointer;
  display: inline-block;
}

.power-up:hover{
  background-position: top left 25%;
  animation: tilt 0.5s ease-in-out infinite;
}

/* make a animation tilt 3 deg the text from left to right to original also scale it*/
@keyframes tilt {
  0% {
    transform: rotate(0deg);
    scale: 1;
  }
  25% {
    transform: rotate(-3deg);
    scale: 1.1;
  }
  50% {
    transform: rotate(0deg);
    scale: 1;
  }
  75% {
    transform: rotate(3deg);
    scale: 1.1;
  }
  100% {
    transform: rotate(0deg);
    scale: 1;
  }
}

.project-item-inner{
  box-shadow: inset 0px -45px 20px 6px rgb(0 0 0 / 70%);
  height: 100%;
  display: flex;
  flex-direction: column;
}

.project-item-image{
  background-color: #232323;
  width: 100%;
  aspect-ratio: 16/9;
  cursor: pointer;
  position: relative;
  border-radius: .8rem;
  overflow: hidden;
  transition: all 0.25s ease-in-out;
}

.project-item-image img{
  width: 85%;
  position: absolute;
  bottom: 0;
  left: 50%;
  translate: -50% 20%;
  transition: all .25s;
  border-radius: .4rem;
  max-height: 212px;
}

.project-name-date{
  width: 100%;
}

.project-item-image:hover img{
  width: 90%;
  rotate: 2deg;
}

.project-title a{
  opacity: 75%;
  transition: all 0.25s;
}

.project-title a:hover{
  opacity: 1;
}

.rich-text{
  background-image:linear-gradient(to right, #FFF200 0%, #1b84cd 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition:all 0.25s ease-in-out;
  cursor: pointer;
  display: inline-block;
}

.rich-text:hover{
  transform: rotate(-3deg);
}

/* .fixed-nav{
  position: fixed;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
} */

nav a {
  writing-mode: vertical-lr;
  height: 120px;
  font-weight: 200;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  opacity: .5;
  border-right: 1px solid transparent;
  transition: all .1s;
  font-size: 24px;
  letter-spacing: 1px;
  width: 80px;
}

nav a.active{
  opacity: 1;
  border-right: 1px solid #aebd00;
  background-color: #111111;
  font-weight: bold;
  transition: all .25s;
}

nav a:hover {
  background-color: #111111;
}

nav span{
  margin-top: 32px;
  margin-bottom: 16px;
  cursor: pointer;
}

.project-line{
  width: 100%;
  height: 1px;
  background-color: white;
  opacity: .3;
}

.chevron-up{
  width:32px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mail-container{
  transition: all .25s;
}

.mail-container:hover{
  color: #aebd00;
}

.online-dot-blip{
  animation: blip 1s infinite ease-in-out;
}

@keyframes blip {
  0% {
    trasnform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100%{
    transform: scale(1);
  }
}

/* media query for screens smaller than 900px */
@media (max-width: 900px) {
  .main-content{
    max-width: 600px;
  }

  .available{
    top: 60%;
  }

  .world{
    display: none;
  }

  .footer-lower-content{
    flex-direction: column;
  }

  .bottom-circle-container{
    right: 32px;
  }

  .header-container{
    margin-top: 32px;
  }

  #about, #stack, #crafts, .footer-container{
    margin-top: 64px;
  }

  .footer-upper h3{
    font-size: 36px;
  }

  .footer-lower-content{
    align-items: center;
    gap: 32px;
  }

  .footer-lower-left{
    align-items: center;
  }

  .project-title h1{
    font-size: 18px;
  }

  .project-stack p{
    font-size: 16px;
  }

  .project-desc p{
    font-size: 16px;
  }
  
  .project-title svg{
    height: 20px;
  }

  .footer-upper-text, .footer-lower-mail{
    font-size: 30px;
  }

  section.footer-container svg{
    height: 30px;
  }

  .title{
    font-size: 48px;
  }

  .about-text p{
    font-size: 18px;
    margin-bottom: 16px;
  }

  .stack-icons{
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-row-gap: 32px;
  }

  .project-icons{
    gap: 0;
  }

  .project-icons .github svg{
    width: 16px;
    height: 16px;
  }
}

/* media query for screens smaller than 600px */
@media (max-width: 600px) {
  .main-content{
    max-width: 300px;
  }

  .header-inner{
    gap: 1rem;
  }
  
  .header-inner a{
    font-size: 16px;
  }

  .title{
    font-size: 32px;
  }

  .stack-icons{
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-row-gap: 16px;
  }

  .projects-content{
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .bottom-circle-container{
    right: 16px;
  }

  .footer-upper h3{
    font-size: 24px;
  }

  h1.title{
    font-size: 24px;
  }

  .about-text p{
    font-size: 16px;
    margin-bottom: 16px;
  }

  .stack-subtitle{
    font-size: 16px;
  }

  .stack-icons p, .project-subtitle{
    font-size: 16px;
  }

  nav a{
    width: 60px;
    font-size: 18px;
  }

  .available-text{
    font-size: 14px;
  }

  .chevron-up{
    width: 24px;
  }

  .circle{
    width: 80px;
  }
  
  .footer-upper-text, .footer-lower-mail{
    font-size: 18px;
  }
}

@media (min-width: 900px){
  .main-content section:not(:first-child) {
    padding: 0 48px;
  }  
}